<!doctype html>
<html>
<head>
  {% if title %}
  <title> {{title }} </title>
  {% else %}
  <title> Title </title>
  {% endif %}

  <link href="static/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img class="img" src="/static/images/znapin-logo.png" height="30px;" alt="Znapin">
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">

            {% if user %}
              <li><a class="btn btn-info" href="/profile">{{user.nickname()}}</a></li>
              {% endif %}

            <li><a href="/">Home</a></li>
            {% if user %}
              <li><a href="/post">Post</a></li>
              <li><a href="/profile">Profile</a></li>

              {% endif %}
              <li><a href="{{url}}">{{url_linktext}}</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <!-- navbar end -->

<div class="container-fluid">

  {% block content %}
  {% endblock %}
</div>

<footer class="">
  <div class="container bg-gray">
    <ul class="nav navbar-nav">
      <li><a href="https://github.com/omprakashpatel/googleapp-znapin">Project Repo GitHub</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://github.com/omprakashpatel">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/omprakashpatel">LinkedIn</a></li>
      <li><a href="https://twitter.com/omprakashpatel">Twitter</a></li>
    </ul>
</footer>

  <script type="text/javascript" src="static/js/jquery-2.1.4.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="static/js/bootstrap.min.js" integrity="sha256-Sk3nkD6mLTMOF0EOpNtsIry+s1CsaqQC1rVLTAy+0yc= sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous">
  </script>

</body>
</html>