{% extends 'base.html' %}
{% block content %}



<div class="container">
 <div class="row">
  <div class="col-md-10 col-md-offset-1">

    <div class="panel-body">
      {% if post %}
      <!-- <div class="row"> -->
      <div class="col-sm-12 col-md-12">
        <div class="thumbnail bg-gray">

          {% if post.file_type=='image'%}
          <img src="/upload/{{post.file_key}}" alt="..." class="img-responsive img-rounded view-pic">
          {% elif post.file_type=='video'%}
          <center>
            <video class="img-responsive img-rounded" controls>
              <source src="/upload/{{post.file_key}}" type="video/mp4">
                <source src="/upload/{{post.file_key}}" type="video/ogg">
                  Your browser does not support the video tag.
                </video>
              </center>
              {% endif %}

              <div class="caption">
                <h3>{{post.title }} &nbsp;</h3>

                <blockquote>
                  <!-- <p>{{post.post}}</p> -->
                  <footer>
                    <span>
                      Posted by: <cite title="Source Title">{{post.user.name}}</cite>
                    </span>
                    <span class="pull-right">
                      Posted on: <cite>{{post.created_on|datetimeformat}}</cite>
                    </span>
                  </footer>
                </blockquote>



              </div>

              <div class="caption">
                <div class="row">
                  <div class="col-md-4">
                    <a href="javascript:Like('{{post.key.urlsafe()}}');" class="btn btn-primary btn-block">Like
                      (<span id="like_count">{{ post.like_count or 0 }}</span>)
                    </a>
                  </div>
                  <div class="col-md-4">
                    <a href="javascript:Reject('{{post.key.urlsafe()}}');" class="btn btn-danger btn-block">Reject
                      (<span id="reject_count">{{ post.reject_count or 0 }}</span>)

                    </a></div>
                  <div class="col-md-4">
                    <a href="" class="btn btn-success btn-block">Comment
                      (<span id="comment_count">{{ post.comment_count or 0 }}</span>)
                    </a>
                  </div>
                </div>
              </div>
              <!-- comments -->
              <div class="caption">
                {% if user %}
                <div class="row">
                  <div class="col-md-12">
                    <form class="" role="form" action="/comment" method="POST">
                       <div class="form-group">
                        <input type="hidden" name="post_id" value="{{post.key.urlsafe()}}">
                        <textarea class="form-control" id="comment" name="comment" placeholder="Comment"></textarea>

                      </div>
                       <div class="form-group">
                        <!-- <button type="submit" class="btn btn-primary btn-sm btn-xs pull-right">Comment</button> -->

                        <a href="javascript:Comment('{{post.key.urlsafe()}}');" class="btn btn-primary btn-sm btn-xs pull-right">Comment</a>

                      </div>

                    </form>
                  </div>
                </div>
                {% endif %}


                <div class="row">
                  <div id="comment_div">

                  </div>

                  {% if comment_list %}
                  {% for comment in comment_list %}


                  <div class="col-md-12">
                    <div class="well">
                      <p>{{comment.comment}}</p>
                        <footer class="small">
                          <span >
                            Posted by: <cite title="Source Title">{{comment.user.name}}</cite>
                          </span>
                          <span class="pull-right">
                            Posted on: <cite>{{comment.created_on|datetimeformat}}</cite>
                          </span>
                        </footer>
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endif %}
        </div>

      </div>
      <div class="col-md-6"></div>
    </div>
  </div>



        <script>
            function Comment(post_id){
                var comment = $('#comment').val();
                // comment_html = """ <div class='col-md-12'><div class='well'><p>{comment}</p> <footer class='small'><span>Posted by: <cite title='Source Title'>{user_name}</cite></span><span class='pull-right'>Posted on: <cite>{created_on}</cite></span></footer></div></div>""";

                console.log(comment);
                $.ajax({
                  type: "POST",
                  url: "/comment_ajax",
                  dataType: 'json',
                  data: { "post_id": post_id, 'comment': comment},

                  success : function(data){
                    console.log("********** success **********")

                    console.log(data);

                    if (data.status == "success"){
                      $('#comment').val('');
                      var comment_count = parseInt($('#comment_count').text())+1
                      $('#comment_count').text(comment_count);
                      $('#comment_div').html(data.data);
                    }
                  },
                  error : function(data){
                    console.log("********** error **********")
                    console.log(data);
                  }
                }).done(function(data){
                    console.log("********** done **********")
                  console.log(data);
                });
            };

            function Reject(post_id){
                $.ajax({
                  type: "POST",
                  url: "/reject",
                  dataType: 'json',
                  data: { "post_id": post_id},

                  success : function(data){
                    // alert("success");
                    console.log("********** success **********")
                    console.log(data);
                    if (data.status == "success"){
                      var reject_count = parseInt($('#reject_count').text()) + data.data.reject_count;
                      var like_count = parseInt($('#like_count').text()) + data.data.like_count;
                      $('#reject_count').text(reject_count);
                      $('#like_count').text(like_count);


                    }
                  },
                  error : function(data){
                    console.log("********** error **********")

                    console.log(data);
                    window.reload();
                  }
                }).done(function(data){
                    console.log("********** done **********")

                  console.log(data);
                });
            };

            function Like(post_id){
                $.ajax({
                  type: "POST",
                  url: "/like",
                  dataType: 'json',
                  data: { "post_id": post_id},

                  success : function(data){
                    console.log("********** success **********")

                    console.log(data);
                    if (data.status == "success"){
                      var reject_count = parseInt($('#reject_count').text()) + data.data.reject_count;
                      var like_count = parseInt($('#like_count').text()) + data.data.like_count;
                      $('#reject_count').text(reject_count);
                      $('#like_count').text(like_count);

                    }
                  },
                  error : function(data){
                    console.log("********** error **********")

                    console.log(data);
                    // var reject_count = parseInt($('#reject_count').text())+1
                    // $('#reject_count').text(comment_count);
                    window.reload();
                  }
                }).done(function(data){
                    console.log("********** done **********")

                  console.log(data);
                });
            };

        </script>



  {% endblock %}
