{% extends 'base.html' %}
{% block content %}

<div class="container">
   <div class="row">
      <div class="col-md-10 col-md-offset-1">

         <!-- <div class="panel panel-default"> -->
                    <!-- <div class="panel-heading">
                        <h4 class="heading">Latest Posts</h4>
                    </div> -->
                    <div class="panel-body">
                        {% for post in post_list %}
                        <!-- <div class="row"> -->
                        <div class="col-sm-4 col-md-4">
                            <div class="thumbnail bg-gray">

                                {% if post.file_type=='image'%}

                                <a href="/browse?key={{ post.key.urlsafe() }}">
                                      <img src="/upload/{{post.file_key}}" alt="..." class="img-responsive img-rounded post-pic">
                                    </a>
                                      {% elif post.file_type=='video'%}
                                  <center>
                                <a href="/browse?key={{ post.key.urlsafe() }}">

                                      <video class="post-video img-responsive img-rounded">
                                        <source src="/upload/{{post.file_key}}" type="video/mp4">
                                            <source src="/upload/{{post.file_key}}" type="video/ogg">
                                                Your browser does not support the video tag.
                                            </video>
                                    </a>

                                        </center>
                                    {% endif %}

                                    <div class="caption">

                                        <a href="/browse?key={{ post.key.urlsafe() }}">
                                            <h3>{{post.title }} &nbsp;</h3>
                                        </a>

                                        <blockquote>
                                          <!-- <p>{{post.post}}</p> -->
                                          <footer>
                                            <span>
                                                Posted by: <cite title="Source Title">{{post.user.name}}</cite>
                                            </span>
                                            <span class="pull-right">
                                                Posted on: <cite>{{post.created_on|datetimeformat}}</cite>
                                            </span>
                                        </footer>
                                    </blockquote>

                                    <!-- <p>{{post}}</p> -->

                                </div>
                            </div>
                        </div>
                        <!-- </div> -->
                        {% endfor %}
                    </div>
                    <!-- </div> -->

                </div>

            </div>
        </div>


        {% endblock %}
