{% extends 'base.html' %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Post</h3>
				</div>
				<div class="panel-body">

					<form role="form" method="POST" action="{{upload_url}}" enctype="multipart/form-data">

					  <div class="form-group">
					    <input type="text" class="form-control" id="title" placeholder="Title" name="title">
					  </div>

					  <div class="form-group">
					    <textarea class="form-control" id="post" name="post" placeholder="Comment"></textarea>
					  </div>

					  <div class="form-group col-md-12" id="upload_photo">
					    <label for="">Upload Image/Video</label>
					    <input type="file" id="" name="picture" accept="image/*,video/*">
					    <p class="help-block"></p>
					  </div>


					  <button type="submit" class="btn btn-default">Submit</button>
					</form>


				</div>
			</div>
		</div>
	</div>

</div>
</div>

{% endblock %}
