{% extends 'base.html' %}
{% block content %}

{% if user %}
<div class="container">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Profile  <a class="pull-right text-info" href="/profile/edit">edit</a></h3>
				</div>
				<div class="panel-body">
					<table class="table">
						<tr>
							<td>Name</td>
							<td>{{ user.nickname() }}</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>{{ user.email() }}</td>
						</tr>

					</table>
					<hr>

				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">
						Users
					</h3>
				</div>
				<div class="panel-body">
					<table class="table">
						{% for u in user_list%}
						<tr>
							<!-- <td>{{ u.id }}</td> -->
							<td>{{ u.name }}</td>
							<!-- <td>{{ u.email }}</td> -->
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
		</div>
	</div>

</div>
</div>
{% endif %}


{% endblock %}